.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1075px;
  height: 70px;
  padding: 15px 16px 13px;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px #0000000d;
  border-radius: 50px;
  margin-top: 59px;
  background-color: #fff;
}
.header.absolute {
  position: absolute;
  z-index: 99999;
  left: calc((100% - 1075px) / 2);
}


.header-logo {
  width: 112px;
  height: 52px;
}
.header-wrapper {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  width: 16px;
  height: 16px;
}
.buttonWrapper {
  width:300px;
  display: flex;
  justify-content: flex-end;
}

.donat-bt {
  margin-left: 10px;
  width: 129px;
  height: 42px;
  background: #ffca05 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #0000000d;
  border-radius: 50px;
  border: none;
  color: #fff;
  font: normal normal bold 16px/19px FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
}

.join {
  width: 150px;
  height: 42px;
  background: #221f1f 0% 0% no-repeat padding-box;
  border-radius: 50px;
  border: none;
  color: #fff;
  font: normal normal bold 16px/19px FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
  margin-right: 11px;
}
.menu-item {
  font-size: 12px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
  text-decoration: none;
}
.menu-item.active {
  color: #ffca05;
  font-family: FiraGOUPP;
}

@media only screen and (min-width: 1441px) {
  .header-logo {
    width: 157px;
    height: 72px;
  }
  .header {
    width: 1520px;
    height: 100px;
  }
  .menu-icon {
    width: 23px;
    height: 23px;
  }
  .menu-item {
    font-size: 16px;
    font-family: FiraGOUPP;
    letter-spacing: 0px;
    color: #221f1f;
    text-decoration: none;
  }
  .donation-btn {
    width: 212px;
    height: 60px;
  }
}
