.container {
  width: calc(71%);
  margin: auto;
}
.p-0 {
  padding: 0 !important;
}
.dots-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-top: 50px;
  margin-bottom: 96px;
}
.dots-wrapper.flex-start {
  justify-content: flex-start;
}
.dot {
  width: 13px;
  height: 13px;
  background: #a7a7a7;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background-color: #ffca05;
}
