.donation-container {
  margin-top: 107px;
  width: 60%;
  height: 100%;
  display: flex;
}
.btn-don {
   width: 100%;
  background: #fafafa;
  border-radius: 10px;
  border: none;
  height: 35px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}
.donation-left,
.donation-right {
  width: 50%;
}
.donation-rec {
  font-size: 20px;
  width: 400px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 27px;
}
.donationText {
  font-size: 20px;
  width: 330px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 27px;
}
.form-group {
  padding: 10px;
}

.donation-left p {
  width: 260px;

  font-size: 10px;
  font-weight: FiraGOUPP;
  letter-spacing: 0px;
  margin-bottom: 56px;
  color: #221f1f;
}
.filed-n {
  padding: 5px;
}

.donation-right {
  
  display: flex;
  justify-content: flex-end;
}
.container-w {
  width: 400px;
}
label {
  font-size: 12px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
  margin-bottom: 9px;
  display: block;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}.name{
  width:92px
}
.surname{
  width: 93px;
}
.passport-n{ 
  width:141px;
}
.email-n {
  width: 100%;
}
.code {
  width: 71px;
}
input,
textarea {
  width: 100%;
  background: #fafafa;
  border-radius: 10px;
  border: none;
  height: 35px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}
textarea {
  height: 102px;
  resize: none;
  width: 100%;
}
input::placeholder {
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}
input:focus {
  outline: none;
}
.gap22 {
  gap: 22px;
}
.gap19 {
  gap: 19px;
}
.gap13 {
  gap: 13px;
}
.send-btn {
  background: #a7a7a7;
  width: 115px;
  height: 35px;
  border: none;
  font-size: 12px;
  font-family: FiraGOUPP;
  margin-top: 23px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.price-card {
  width: 83px;
  height: 53px;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  font-size: 25px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0;
}
.price-card.active {
  border-color: #ffca05;
  background-color: #ffca05;
  color: #fff;
}
.donat-b {
  margin-top: 21px;
  width: 100%;
  height: 58px;
  background: #ffca05;
  border-radius: 10px;
  font-size: 19px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
