.donation-left,
.donation-right {
  width: 600px;
}
.donation-rec {
  font-size: 20px;
  width: 400px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 27px;
}
.telephone {
  width: 270px;
}
.mobile {
  width: 270px;
}
.passport {
  width: 220px;
}
.donationText {
  font-size: 20px;
  width: 330px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 27px;
}
.form-group {
  padding: 10px;
}
.calendarView {
  position: relative;
  margin-left: 10px;
}
.logoCalendar {
  width: 15px;
  height: 16px;
  position: absolute;
  top: 30px;
  right: 16px;
}
.donation-left p {
  width: 260px;

  font-size: 10px;
  font-weight: FiraGOUPP;
  letter-spacing: 0px;
  margin-bottom: 56px;
  color: #221f1f;
}
.donation-right {
  display: flex;
  justify-content: flex-end;
}
label {
  font-size: 12px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
  margin-bottom: 9px;
  display: block;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  width: 140px;
  background: #fafafa;
  border-radius: 10px;
  border: none;
  padding: 13px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}
.email {
  width: 320px;
}
input::placeholder {
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}
input:focus {
  outline: none;
}
.gap22 {
  gap: 22px;
}
.gap19 {
  gap: 19px;
}
.gap13 {
  gap: 13px;
}
.send-btn {
  background: #a7a7a7;
  width: 115px;
  height: 35px;
  border: none;
  font-size: 12px;
  font-family: FiraGOUPP;
  margin-top: 23px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.price-card {
  width: 83px;
  height: 53px;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  font-size: 25px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0;
}
.price-card.active {
  border-color: #ffca05;
  background-color: #ffca05;
  color: #fff;
}
.description {
  margin-top: 38px;
  font-family: FiraGOUPP_Regular;
  text-align: center;
  width: 468px;
  height: 40px;
  font-size: 9px;
}
.donate-btn {
  margin: 51px 0 0 auto;
  margin-top: 51px;
  width: 573px;
  height: 90px;
  background: #ffca05;
  border-radius: 10px;
  font-size: 19px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
