.dropdown {
  width: 220px;
  background: #fafafa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  border-radius: 10px;
  height: 35px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  position: relative;
}
.logo {
  position: absolute;
  right: 10px;
  top: 15px;
}

.dropdown .btn {
  padding: 10px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  padding: 15px;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 28px;
  background: #fafafa;

  font-weight: bold;
  width: 30%;
  color: #333;
  width: 220px;
  background: #fafafa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  padding: 13px;
  box-sizing: border-box;
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #a7a7a7;
}

.dropdown-item {
  text-align: center;
  padding: 5px;
  cursor: pointer;

  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
