.slider-wrapper {
  height: 764px;
}

.main-container {
  height: 714px;
}
.main-wrapper {
}
.plan-container {
  height: 356px;
  display: flex;
  padding-bottom: 41px;
}
.plan-text,
.plan-map {
  width: 50%;
}
.plan-text h3 {
  font-size: 46px;
  font-family: FiraGOUPP;
  margin-bottom: 33px;
  letter-spacing: 0px;
  color: #ffca05;
  max-width: 430px;
}
.plan-text p {
  font-size: 13px;
  font-family: FiraGOUPP;
  margin-bottom: 90px;
  letter-spacing: 0px;
  color: #221f1f;
  width: 450px;
}
.main-container {
  height: 714px;
  background-size: cover;
  margin-bottom: 25px;
  position: relative;
}
.main-container svg {
  width: 100%;
  height: 714px;
  margin-top: -25px;
}
.main-text {
  position: absolute;
  top: 289px;
  left: calc(29% / 2);
  height: 160px;
}
.main-text h3 {
  margin-top: 0;
  font-size: 38px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 18px;
  max-width: 450px;
}
.main-text p {
  font-size: 10px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 52px;
  max-width: 450px;
  margin-top: 0;
}
.candidates .c-title {
  padding-top: 67px;
}
.c-box--big {
  width: calc(60% + 50px);
  display: flex;
  background-color: #ffca05;
  height: 94px;
  box-shadow: 0px 5px 20px #0000000d;
  border-radius: 81px;
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-right: 51px;
}
.c-box--big.black {
  background-color: #000;
}
.c-box--big.black .person-position {
  color: #fff !important;
}
.c-box--big.black .person-name {
  color: #fff !important;
}
.c-box--big .person-name {
  color: #000 !important;
}
.c-box--big .person-name {
  color: #fff;
}

.c-box--big .c-box-textBlock {
  justify-content: space-between;
  width: 100%;
}
.c-box-textBlock h3 {
  color: #fff;
  font-size: 20px;
}
.c-box--big-after {
  width: calc(100% + 2px);
  height: calc(94px * 2 + 27px);
  position: absolute;
  left: -1px;
  top: -1px;
  box-shadow: 0px 5px 20px #0000000d;
  border-radius: 50px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  padding-right: 51px;
  margin-bottom: 25px;
  background-color: #ffca05;
  z-index: 99;
}
.c-box--big.black .c-box--big-after {
  background-color: #000;
}
.c-box--big-after h5,
.c-box--big-after h3,
.c-box--big-after p {
  color: #fff;
}
.c-box--big-after .person-name {
  color: #ffca05;
}
.c-box--big-after h3 {
  font-size: 20px;
}
.big-cards-box {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.bg-wrapper {
  background-image: url("../../images/round9.svg");
  background-repeat: no-repeat;
  background-position: right 8%;
  background-size: 30%;
}
.person-name {
  width: 100%;
}
.slider-wrapper {
  position: relative;
}
.overSlider {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 48px;
  z-index: 9999;
}
