.contactUs-wrap {
     width: 100%;
  /* height: 727px; */
  /* padding: 22px 0px 64px; */
  background-color: transparent;
  background-image: url("../../images/nine.svg"),
    url("../../images/doughnat-black.svg");
  background-repeat: no-repeat;
  background-size: 26%, 28%;
  background-position: -220px 110%, 125% 66%;
  display: flex; 
  flex-direction: column;
   align-items: center;
   height: 100%;
   justify-content: space-between;
   
}