.JoinUswrapper {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggleView {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 87px;
}
.buttonTrue {
  color: #221f1f;
  font-size: 25px;
  font-family: FiraGOUPP;
}

.buttonFalse {
  color: #ffca05;
  font-size: 25px;
  font-family: FiraGOUPP;
}
