footer {
  height: 78px;
  background: #221f1f;
  box-sizing: border-box;
  padding: 18px;
  margin-top: 120px;
  width: 100%;
}
.footer-container {
  width: calc(481.3px + 43px);
  margin: auto;
}
.d-flex {
  display: flex;
}
footer a {
  font-size: 11px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
}
