.contact-wrapper {
  display: flex;

  flex: 1 1 50%;
  justify-content: space-between;
  gap: 27px;
}
.send-contact{
  width:370px;
  height: 90px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffca05;
}

.sent {
  text-align: center;
  font-family: FiraGOUPP-Bold;
  font-size: 23px;
  color:#fff
}
.contact-page {
  display: flex;
margin-top: 120px;
  flex: 1 1 50%;
  justify-content: space-between;
  gap: 27px;
}
.contact-page iframe{
  border: none;
}
.contact-wrapper iframe {
  border: none;
}
.contact-form {
  margin-top: 60px;
}
.contact-map {
  width: 574px;
  text-align: right;
}
.contact-text {
  width: 369px;
}
.contact-text h3 {
  margin-top: 0 !important;
  font-size: 38px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
  margin-bottom: 50px;
  margin-top: 30px;
}
.contact-text p,
.contact-text p span {
  font-size: 12px;
  font-family: FiraGOUPP;
  font-weight: 300;
  letter-spacing: 0px;
  color: #221f1f;
  margin-top: 0;
}
.contact-text p span {
  color: #ffca05;
}
.pl-0 {
  padding-left: 0px !important;
}
