.wrapper {
  width: 400px;
  height: 200px;
  border: 2px solid #fff;
  box-shadow: 0 24px 56px 0 rgb(5 57 236 / 62%);
}

.card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  /* border-radius: 24px; */
  width: calc(50% - 24px);
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  /* border-radius: 24px; */
  /* margin: 40px 24px 24px 108px; */
  /* padding: 0 30px; */
  border-radius: 24px;
  margin-bottom: 24px;
}
