.c-block {
  width: 100%;
  /* height: 727px; */
  padding: 57px 0px 64px;
  background-color: transparent;
  background-image: url("../../images/round.png"),
    url("../../images/doughnat-black.svg");
  background-repeat: no-repeat;
  background-size: 45%, 30%;
  background-position: 0px 67%, 125% 42%;
}
.d-block {
  width: 100%;
  /* height: 727px; */
  padding: 57px 0px 64px;
  background-color: transparent;
  background-image: url("../../images/circle.svg"),
    url("../../images/doughnat-black.svg");
  background-repeat: no-repeat;
  background-size: 45%, 30%;
  background-position: -114px 37%, 125% 36%;
}

.c-title {
  font-size: 38px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
  margin-bottom: 42px;
}
.c-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.c-box {
  width: 307px;
  height: 94px;
  background: #ffffff;
  box-shadow: 0px 5px 20px #0000000d;
  border-radius: 81px;
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1 0 30%;
}
.c-box-after {
  position: absolute;
  width: calc(286px * 2 + 25px);
  height: calc(94px * 2 + 25px);
  background: #ffffff;
  border-radius: 47px;
  top: 0px;
  left: 0;
  z-index: 99;
  padding: 8px;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px #0000000d;
}
.c-box-after--right {
  right: 0 !important;
  left: unset !important;
}
.c-box-after--bottom {
  bottom: 0 !important;
  top: unset !important;
}
.c-box-after--rightBottom {
  bottom: 0 !important;
  right: 0 !important;
  top: unset !important;
  left: unset !important;
}
.c-box img,
.c-box--big img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.person-name {
  margin-top: 23px;
  font-size: 18px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 4px;
}
.person-position {
  font-size: 11px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
  margin: 0;
}
.c-box-textBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.c-box-textBlock .person-name {
  margin-top: 0 !important;
}
.c-box p {
  margin-top: 23px;
  font-size: 12px;
  line-height: 14px;
  max-width: 440px;
  font-family: FiraGOUPP;
  font-weight: 400;
  letter-spacing: 0px;
  color: #221f1f;
}
.swiper-slide {
  padding: 30px;
  box-sizing: border-box;
}
.swiper-slide {
  padding: 0px !important;
}
.about-wrapper {
  gap: 100px;
}
.about-text-wrapper h3 {
  font-size: 38px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
  margin-bottom: 38px;
  margin-top: 0;
}
.about-text-wrapper h2 {
  font-size: 38px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #ffca05;
  margin-bottom: 33px;
  max-width: 380px;
}
.about-text-wrapper p {
  margin-bottom: 30px;
  font-size: 12px;
  font-family: FiraGOUPP;
  letter-spacing: 0px;
  color: #221f1f;
}
.about-text-wrapper div {
  width: 277px;
  height: 47px;
  background: #221f1f;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-family: FiraGOUPP;
  text-decoration: none;
  text-transform: lowercase;
}
.about-text-wrapper div:hover {
  text-decoration: none;
}
